<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="./public/images/tree-faviconst.png"
    />
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!--ICONS-->
    <link rel="stylesheet" href="/images/fonts/style.css" />
    <!--STYLE-->
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/pages/profile.css" />
    <link rel="stylesheet" href="/style/partials/buttons.css" />
    <link rel="stylesheet" href="/style/partials/forms.css" />
    <link rel="stylesheet" href="/style/partials/footer.css" />

    <title><%= profile.name %> | SocialTree</title>
  </head>
  <body>
    <div class="container_profile">
      
      <aside class="profile_preview">
        <div class="back_button"><a href="/"><img src="/images/chevron-left.svg" alt=""></a></div>
        <img src="<%= profile.avatar %>" alt="profile photo" class="avatar_profile" />
        <h2>@<%= profile.name %></h2>
        <button class="button" form="form_profile" type="submit">Save</button>
      </aside>
      <main class="profile_data">
        <form action="/profile" id="form_profile" method="post">
          <fieldset>
            <legend><h2>Edit Profile</h2></legend>
            <div class="separator"></div>
            <div class="input_group">
              <div class="input_wrapper">
                <label for="name">Instagram</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  value="<%= profile.name %> "
                />
              </div>
              <div class="input_wrapper">
                <label for="avatar">Profile Picture</label>
                <input
                  type="url"
                  id="avatar"
                  name="avatar"
                  placeholder="https://"
                  value="<%= profile.avatar %> "
                />
              </div>
            </div>
          </fieldset>
        </form>
      </main>
    </div>
    <footer>
      <div>
        <p>SocialTree - Otavio Brito</p>
        <a href="https://github.com/otaviofbrito" target="_blank"
          ><i class="icon-github"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
